<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><dict>
<key>destination</key><string>upload</string><key>method</key><string>app-store-connect</string><key>teamID</key><string>QMM486NPYC</string><key>signingStyle</key><string>manual</string>
<key>signingCertificate</key><string>3rd Party Mac Developer Application: Joshua Trommel (QMM486NPYC)</string>
<key>installerSigningCertificate</key><string>3rd Party Mac Developer Installer: Joshua Trommel (QMM486NPYC)</string>
<key>provisioningProfiles</key><dict><key>com.nulljosh.plain</key><string>Plain Mac App Store</string></dict>
</dict></plist>
